"*":
  "exception-reporting":
    userId: "4b391a98-1202-502d-c64a-85da5639c751"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "nucleus-dark-ui"
      "material-syntax"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
  minimap: {}
  "atom-beautify":
    _analyticsUserId: "429e6bf6-520c-4c36-a886-73601bdc5af2"
    beautifyEntireFileOnSave: false
  "atom-material-ui":
    panelContrast: true
    disableAnimations: true
    slimScrollbar: true
    accentColor: "Orange"
    compactTreeView: true
  linter:
    errorPanelHeight: 25
